.container-fluid {
    
    width: 100%;
    height: 100vh;
    margin-right: auto;
    margin-left: auto;

    #trazo{
        height: 220px;
        width: 100%;
        position: relative;
        margin-left:-2%;
        bottom: -570px;
        margin-bottom: 0px;
    }
    
}
